<header>
  <img id="logo" src="logo.png" alt="Mountain Finder Logo" style="width:20%;height:20%;">
  <section class="fancy-line"> </section>
</header>
<section class="navigation-bar">
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Browse Resorts </a></li>
      <li><a href="#">Ski Holiday Tips</a></li>
      <li><a href="#">Blog </a></li>
    </ul>
  </nav>
</section>

<section class="fancy-line"> </section>
<section class="table-section">
  <h3>Browse Resorts</h3>
  <h4>Sort by column headers </h4>
  <table id="resortTable" class="tablesorter" cellspacing="1"> 
    <thead> 
      <tr> 
          <th>Resort</th>
          <th>Country</th> 
          <th>Nearest Airport</th> 
          <th>Transfer Time</th> 
          <th>Size of Ski Domain</th> 
          <th>Beginner Friendly</th> 
          <th>Apres Ski</th>
          <th>Off Piste</th> 
          <th>Cost of Day Pass</th>
          <th>Altitude</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @resorts.each do |resort| %>
        <tr> 
          <td><%= link_to resort.resort_name, resort_path(resort) %></td> 
          <td><%= resort.country %></td> 
          <td><%= resort.nearest_airport %></td> 
          <td><%= resort.transfer_time %></td> 
          <td><%= resort.size_of_ski_domain %> km<br>
            <section class='slope-difficulty-gauge'>
              <section class="easy-runs" id="<%= resort.proportion_easy_runs.to_i %>-percent-easy-runs" style="width: <%= number_to_percentage(resort.proportion_easy_runs, precision: 0) %>"></section>
              <section class="medium-runs" style="width: <%= number_to_percentage(resort.proportion_medium_runs, precision: 0) %>"></section>
            </section>
          </td>
          <td><%= resort.beginner_rating %>/5</td>
          <td><%= resort.apres_ski_rating %>/5</td>
          <td><%= resort.off_piste_rating %></td>
          <td><%= resort.cost_of_pass%>€</td>
          <td><%= resort.altitude %>km</td>
        </tr> 
      <% end %>
    </tbody> 
  </table> 
</section>

<script type="text/javascript">
  $(document).ready(function() { 
    $("#resortTable").tablesorter({
      cssAsc: "headerSortUp", cssDesc: "headerSortDown" 
    }); 
  }); 
</script>

